<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script>
	alert("{$scale_major[0]['count(a.stu_tzs)']}");
	</script>
</head>
<body>
	通信学院的出国升学率为22.3%，灵活就业率为0.48%，待就业率为2.08%，就业率为97.92%
	计算机学院的出国升学率为36.18%，灵活就业率为1.37%，待就业率为7.85%，就业率为92.15%
	光电学院的出国升学率为23.40%，灵活就业率为0.00%，待就业率为5.53%，就业率为94.47%
	自动化学院的出国升学率为17.25%，灵活就业率为0.00%，待就业率为1.4%，就业率为98.6%
	理学院的出国升学率为14.56%，灵活就业率为2.53%，待就业率为5.06%，就业率为94.94%
	生物学院的出国升学率为23.51%，灵活就业率为0.37%，待就业率为4.48%，就业率为95.52%
	经管学院的出国升学率为9.3%，灵活就业率为0.00%，待就业率为5.09%，就业率为94.91%
	体育学院的出国升学率为11.67%，灵活就业率为0.00%，待就业率为1.69%，就业率为98.31%
	外国语学院的出国升学率为15.63%，灵活就业率为0.00%，待就业率为0.00%，就业率为100%
	先进制造学院的出国升学率为10.53%，灵活就业率为0.00%，待就业率为0.00%，就业率为100%
	传媒学院的出国升学率为10.88%，灵活就业率为4.26%，待就业率为0.00%，就业率为100%
	软件学院的出国升学率为7.38%，灵活就业率为1.48%，待就业率为0.00%，就业率为100%
	半导体学院的出国升学率为19.57%，灵活就业率为0.00%，待就业率为0.00%，就业率为100%
	法学院的出国升学率为32.85%，灵活就业率为0.00%，待就业率为0.00%，就业率为100%


	 for ($i=0; $i < count($friend_info); $i++) { 
            if ($friend_info[$i]['stu_tzs'] == $stu_tzs) {
                $unset = $i;
            }
            if ($friend_info[$i]['stu_gender'] == 0) {
                $friend_info[$i]['stu_gender'] = '女';
            } else {
                $friend_info[$i]['stu_gender'] = '男';
            }
            if ($friend_info[$i]['stu_phone'] == NULL) {
                $friend_info[$i]['stu_phone'] = '暂无信息';
            } 
            if ($friend_info[$i]['stu_qq'] == NULL) {
                $friend_info[$i]['stu_qq'] = '暂无信息';
            } 
        }
        unset($friend_info[$unset]);

</body>
</html>